html { 
  background: url(../images/background2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    background-color: rgba(127, 147, 255, 0);
}

.top_img{ 
    width: 50px;
    height: 50px;
}

#top_page {
    display: flex;
     justify-content: center;
    text-align:center;
}

.display {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centerize {
    text-align:center;
}

.beautifulText {
    color:#9dd8af;
    font-size: xx-large;
    text-align:center;
    
}