<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="icon" href="./images/favicon.png" type="image/gif" sizes="16x16">

    <title>Weather all over the world!</title>

    <!--  CSS & bootstrap with jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="./css/css.css">

</head>

<body>

    <div id="top_page" >

        <h1>Weather around the Globe!</h1>
        <img src="./images/top_page_icon1.png" alt="" class="top_img">
        <img src="./images/top_page_icon2.png" alt="" class="top_img">
        <img src="./images/top_page_icon3.png" alt="" class="top_img">
    </div>

    <div id="app">

        <div  class="centerize">
            <input type="text" v-model="search" v-on:keyup.enter="getSpecifiedData(), getForecast()" placeholder="search your hometown!" />
        </div>

        <div class="main_div" class="centerize">
            
            
            <div v-if="contentView == true">

            <div v-if="oneCity.length !== 0">

                <div class="centerize">
                    
                    <h2>{{oneCity.name}}</h2>

                    <h4>Current Weather:</h4>
                    <span>Expected Temperatures: {{oneCity.main.temp}} °C </span>
                    <span>Humidity: {{oneCity.main.humidity}} %</span>
                    <span>Wind Speed: {{oneCity.wind.speed}} km/h</span>
                    <span>Weather type: {{oneCity.weather[0].description}}</span>

                </div>

                <div v-if="oneCity.length !== 0" class="centerize">

                    <button v-on:click="getForecast(), changeView('forecast')">
                        <h4>Forecast:</h4>
                    </button>

                    <div v-show="view == 'forecast'">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date and Time</th>
                                    <th>Temperature</th>
                                    <th>Weather</th>
                                    <th>Wind Speed:</th>
                                    <th>Humidity</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="forecast in forecastData">
                                    <td>{{forecast.dt_txt}}</td>
                                    <td>{{forecast.main.temp}}</td>
                                    <td>{{forecast.weather[0].description}}</td>
                                    <td>{{forecast.wind.speed}}</td>
                                    <td>{{forecast.main.humidity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            </div>
            
            <div id="disclaimer" v-show="disclaimerView == true">
                
                
                
            </div>
            
            
        </div>
    </div>

<!--     -->

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./javaScript/main.js"></script>
</body>

</html>